<?xml version="1.0" encoding="utf-8"?>
<config>
  <app>
    <organization>UPC</organization>
  </app>
  <window>
    <title>Game Development Testbed</title>
    <fullscreen>false</fullscreen>
    <borderless>false</borderless>
    <resizable>true</resizable>
    <fullscreen_window>false</fullscreen_window>
    <width>1024</width>
    <height>768</height>
    <scale>1</scale>
  </window>
  <audio>
    <volumemus>64</volumemus>
    <volumefx>78</volumefx>
  </audio>
</config>